# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# Raw source datasets
data/raw/*
!data/raw/.gitkeep

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log